*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-repeat: no-repeat; */
}

header img{
  width: 100%;
}
body{
  /* width: 100%; */
  /* height: 100%;  MIRAR ESTO PARA EL BACKGROUND gif */
  /* background-size: 2000px 1200px;  */
  background-color: rgb(28, 46, 46);
  /* background-size: 1500px 1200px;   */
}

.App {
  text-align: center;
  background-color: rgb(28, 46, 46);
}
.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* background-repeat: no-repeat; */
}


/* TEXTO BLANCO */
.w{
  color: antiquewhite;
}

/* TITULO */
h1{
  margin: 50px 0;
  font-size: 50px;
  text-shadow: 2px 2px yellow;
}




/* INPUT BUTTON  */
.input{
  display: flex;
  flex-direction: row;
  padding: 0px 0;
  border: 3px solid green;
  border-radius: 8px;
}

input{
  width: 400px;
  height: 40px;
  text-align: center;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.button{
  padding-top: 30px 0;
  border: none;
}

button{
  border: none;
  padding: 10px;
  background-color: lightblue;
  font-size: 1rem;
  height: 40px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

button:hover{
  cursor: pointer;
}






/* LOCACION  DETALLES*/
.location{
  padding-top: 20px;
  margin-top: 60px;
  background-color: rgb(46, 37, 121);
  border-radius: 10px;
}
.location div{
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.location>div>p{
  margin: 0 30px;
}

div>h3{
  margin: 30px 0;
  font-size: 30px;
}




/* RESIDENTES */
.grid{
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap:  30px;
  justify-content: center;

}
.card{
  /* border: 2px solid red; */
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 240, 255);
  border-radius: 15px;
  /* opacity: 10%; */
  background: linear-gradient(rgba(236, 240, 2, 0.884), rgba(7, 114, 22, 0.87));
  margin-bottom: 30px;
  
}

.card>div>img{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 250px;
}

.name{
  height: 60px;
}

.info{
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  text-align: start;
}

.status{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.status>h4{
  margin: 0 8px;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: brown;
}

.green{
  background-color: green;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}

.details{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 20px;
}

.details>h4{
  margin-top: 8px;
}



/* PANTALLA ENTRE 601 Y 900 PX */

@media only screen and (max-width: 900px){
  
  .grid{
    grid-template-columns: 250px 250px;
  }
  
}



/* PANTALLA 300 A 600 PX  */
@media only screen and (max-width: 600px){
  
  .grid{
    grid-template-columns: 250px;
  }

  .location{
    width: 400px;
  }

  .location>div{
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 10px;
  }

  input{
    width: 300px;
  }
}

